<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/app::head"></head>
<body>
	<nav th:replace="fragments/app::navbar"></nav>
	<br>
	<div class="container">
	<h1 class="font-weight-light">Nuevo Artista</h1>
	<hr>
		<div class="container shadow">
		<div th:text="${success}? ${success}" th:classappend="${class}? ${class}"></div>
			<form th:action="@{/artista/guardar}" method="post" th:object="${artist}" enctype="multipart/form-data" style="width:350px;">
			<div class="form-group">
			<label>Nombre</label>
			<input type="text" th:field="*{name}" class="form-control" />
			</div>
			<div class="form-group">
			<label>Descripcion</label>
			<textarea th:field="*{description}" class="form-control" maxlength="255"></textarea>
			</div>
			<div class="form-group">
			<label>Categoria</label>
			<select class="form-control" th:field="*{category}" >
			<option th:each="c : ${categories}" th:value="${c.id}" th:text="${c.name}" />
			</select>
			</div>
			<div class="form-group">
			<label>Foto</label>
			<input type="file" name="file" class="form-control" />
			</div>
			<button type="submit" class="btn btn-primary"><i class="fas fa-save"></i>	Guardar</button>
			<button type="reset" class="btn btn-secondary"><i class="fas fa-trash-restore"></i>	Limpiar</button>
			<hr>
			<a th:href="@{/artista/index}" ><i class="fas fa-long-arrow-alt-left"></i>	Volver</a>
			</form>
			<br>
		</div>
	</div>
	<div th:replace="fragments/app::scripts"></div>
</body>
</html>